{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	img{
		max-width: 100%;
		object-fit: cover;
	}
    .featured_image{
        text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
    .post-container{
        width: 900px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
	}
    @media screen and (max-width: 900px){
		.post-container{
			width: 95%;
		}
	}
</style>

    <div class="post-container">
        <a class="btn btn-sm btn-primary" href="{% url 'posts' %}">&laquo Back to Posts</a>

        {% if request.user.is_staff %}
             <a class="btn btn-sm btn-primary" href="{% url 'update_post' post.slug %}">Edit</a>
             <a class="btn btn-sm btn-danger" href="{% url 'delete_post' post.slug %}">Delete</a>
        {% endif %}
        <br>
        <img class="featured_image" src="{{post.thumbnail.url}}">
        <br>
        {% for tag in post.tags.all %}
            <span class="tag">{{tag}}</span>
        {% endfor %}
        <hr>

        <h1>{{post.headline}}</h1>
        <h4>{{post.sub_headline}}</h4>
        <br>

        <p>{{post.body|safe}}</p>
    </div>

{% endblock content %}